<div>
    <div>
        <h4>Best Solution</h4>
        <div>
            X: {{vm.solution.bestPosition.x}}
        </div>
        <div>
            Y: {{vm.solution.bestPosition.y}}
        </div>
        <div>
            Cost: {{vm.solution.bestCost}}
        </div>
        <div>
            Iteration: {{vm.count}}
        </div>
        <div>
            <a href="#" ng-click="vm.iterateSolution()">Iterate</a>
        </div>
    </div>
    <div class="background-screen">
        <div id="d3">

        </div>
    </div>
</div>
