<div class="row section">
    <div class="col-md-12">
        <h2>
            Ant Colony Optimization Demo
        </h2>
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant Colony Optimization here
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant solution overview
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        <input class="btn btn-default btn-sm" type="button" value="Start" ng-click="vm.playSolution()" ng-disabled="!vm.solutionFinished">
        <div>Iteration: {{vm.solutionIteration}} Length: {{vm.solutionLength}}</div>

        <div id="d3-ants-bestsolution"></div>
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant solution details
        <!-- <div ng-repeat="solution in vm.solutions">
            Iteration: {{::solution.iteration}} Cost: {{::solution.length}} Trail: {{::solution.trail}}
        </div> -->
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        <div>
            Explain Ant pheromones overview
            Iteration: {{vm.playPheromoneIteration}}
        </div>
        <input class="btn btn-default btn-sm" type="button" value="Start" ng-click="vm.playPheromones()" ng-disabled="!vm.solutionFinished">
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        <div id="d3-ants-pheromones"></div>
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        <div>
            Explain Ant pheromones details
        </div>
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant trailbuilding overview
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        <div id="d3-ants-trailbuilding"></div>
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant trailbuilding details
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant Pathfinding roulette wheel overview
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        <div id="d3-ants-wheelselect"></div>
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Explain Ant roulette wheel details
    </div>
</div>
<div class="row section">
    <div class="col-md-12">
        Conclusion
    </div>
</div>
